<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veken0m.bitcoinium"
    android:installLocation="auto"
    android:versionCode="68"
    android:versionName="@string/version_name">

    <!-- Used for accessing internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to check WiFi and Mobile network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to set an Alarm in the Android Clock app -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <!-- Used to set vibration on push notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bitcoinium">

        <!-- TODO: Remove fully qualified name to simplify building of Prime and Ad-supported versions -->
        <activity
            android:name="com.veken0m.bitcoinium.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name=".WidgetProvider.ACTION_WIDGET_CONFIGURE" />
                <action android:name=".MinerWidgetProvider.ACTION_WIDGET_CONFIGURE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.veken0m.bitcoinium.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="com.veken0m.bitcoinium.MinerWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="com.veken0m.bitcoinium.BalanceWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.OrderbookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/orderbook"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.preferences.OrderbookPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/label_orderbookPreferences"
            android:parentActivityName="com.veken0m.bitcoinium.OrderbookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.OrderbookActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.preferences.GraphPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/label_graphPreferences"
            android:parentActivityName="com.veken0m.bitcoinium.GraphActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.GraphActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.preferences.MinerPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/label_minerPreferences"
            android:parentActivityName="com.veken0m.bitcoinium.MinerStatsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.BitcoinChartsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bitcoinCharts"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.BitcoinAverageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bitcoinAverage"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.GraphActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_priceGraph"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.MinerStatsActivity"
            android:label="@string/label_minerStats"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.preferences.PreferencesActivity"
            android:label="@string/label_preferences"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.preferences.PriceAlertPreferencesActivity"
            android:label="@string/label_priceAlertSettings"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
            <intent-filter>
                <action android:name="com.veken0m.bitcoinium.preferences.PriceAlertPreferencesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.preferences.TickerPreferencesActivity"
            android:label="@string/notificationDrawerTickers"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
            <intent-filter>
                <action android:name="com.veken0m.bitcoinium.preferences.TickerPreferencesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.veken0m.bitcoinium.WebViewerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/label_webCharts"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>

        <activity
            android:name="com.xeiam.xbtctrader.TraderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="Trader"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>

        <activity
            android:name="com.xeiam.xbtctrader.PreferenceActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="Trader"
            android:parentActivityName="com.veken0m.bitcoinium.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.veken0m.bitcoinium.MainActivity" />
        </activity>

        <receiver
            android:name="com.veken0m.bitcoinium.WidgetProvider"
            android:enabled="true"
            android:label="@string/widget_price">
            <intent-filter>
                <action android:name=".WidgetProvider.ACTION_WIDGET_RECEIVER" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <service android:name="com.veken0m.bitcoinium.WidgetProvider$UpdateService" />

        <receiver
            android:name="com.veken0m.bitcoinium.MinerWidgetProvider"
            android:enabled="true"
            android:label="@string/widget_mining">
            <intent-filter>
                <action android:name=".MinerWidgetProvider.ACTION_WIDGET_RECEIVER" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/miner_appwidget_info" />
        </receiver>
        <service android:name="com.veken0m.bitcoinium.MinerWidgetProvider$MinerUpdateService" />

        <receiver
            android:name="com.veken0m.bitcoinium.BalanceWidgetProvider"
            android:enabled="true"
            android:label="@string/balance_widget_name">
            <intent-filter>
                <action android:name=".BalanceWidgetProvider.ACTION_WIDGET_RECEIVER" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info_balance" />
        </receiver>

        <service android:name="com.veken0m.bitcoinium.BalanceWidgetProvider$BalanceUpdateService" />
    </application>

</manifest>