<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.veken0m.bitcoinium"
          android:versionCode="59"
          android:versionName="@string/version_name">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bitcoiniumlogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bitcoinium">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.veken0m.bitcoinium.WidgetProvider.ACTION_WIDGET_CONFIGURE"/>
                <action android:name="com.veken0m.bitcoinium.MinerWidgetProvider.ACTION_WIDGET_CONFIGURE"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetConfigureActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MinerWidgetConfigureActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderbookActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/orderbook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".preferences.OrderbookPreferenceActivity"
            android:parentActivityName=".OrderbookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/orderbookPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrderbookActivity" />
        </activity>
        <activity
            android:name=".preferences.GraphPreferenceActivity"
            android:parentActivityName=".GraphActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/graphPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GraphActivity" />
        </activity>
        <activity
            android:name=".preferences.MinerPreferenceActivity"
            android:parentActivityName=".MinerStatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/minerPreferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BitcoinChartsActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bitcoinCharts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BitcoinAverageActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bitcoinAverage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GraphActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/priceGraph">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MinerStatsActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/minerStats"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".preferences.PreferencesActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".preferences.PriceAlertPreferencesActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/priceAlertSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WebViewerActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/webCharts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <receiver
            android:exported="false"
            android:name=".WidgetProvider"
            android:label="@string/price_widget_name">
            <intent-filter>
                <action android:name="com.veken0m.bitcoinium.WidgetProvider.ACTION_WIDGET_RECEIVER"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info"/>
        </receiver>

        <service android:name=".WidgetProvider$UpdateService"/>

        <receiver
            android:exported="false"
            android:name=".MinerWidgetProvider"
            android:label="@string/mining_widget_name">
            <intent-filter>
                <action android:name="com.veken0m.bitcoinium.MinerWidgetProvider.ACTION_WIDGET_RECEIVER"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/miner_appwidget_info"/>
        </receiver>

        <service android:name=".MinerWidgetProvider$MinerUpdateService"/>
    </application>

</manifest>